.mensajeError {
    height: 62px;
    background-color: #FFE5E5;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5px;
    z-index: 200;
    margin: auto !important;
    left: 50%;
    padding-right: 20px;
    max-width: 500px;
    transform: translate(-50%, 0);
}

.mensajeError .warningIcon {
width: 70px;
}

.mensajeError > h1 {
color: #FF0000;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
padding: 0;
}