.politicas__admin * {
  box-sizing: border-box;
}

.politicas__admin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 28px;
}

.politicas__admin .politicas-div {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  padding-bottom: 34px;
}

.politicas__admin .textArea-container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  height: 200px;
}

.politicas__admin .Text-2 {
  color: var(--color-oscuro);
  padding-bottom: 5px;
}

.politicas__admin div h3 {
  color: var(--color-oscuro);
  padding-bottom: 19px;
}

.politicas__admin textarea {
  padding: 12px;
  width: 100%;
}

.politicas__admin .textArea-container2 {
  margin: 0 36px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .politicas__admin {
    flex-direction: column;
  }
  .politicas__admin .textArea-container2 {
    margin: 25px 0;
  }
}

@media screen and (max-width: 767px) {
  .politicas__admin {
    flex-direction: column;
  }
  .politicas__admin .textArea-container2 {
    margin: 25px 0;
  }
  .politicas__admin .Heading-3 {
    font-weight: bold;
    font-size: 14px;
  }
}
